.bond-card {
    background-color: #fff;
    width: 400px;
    padding: 10px;
}

.bond-card--header {
    margin-bottom: 15px;
}

.bond-card--header h2 {
    display: inline;
    margin-right: 10px;
}

.bond-card--description {
    font-size: 0.7em;
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
    margin-bottom: 10px;
}

.bond-card--graph-buttons {
    margin-bottom: 10px;
}

.bond-card--graph-canvas {
    display: inline-block;
    position: relative;
}

.bond-card--graph-canvas .recharts-wrapper{
    font-size: 0.6em;
    margin-left: -40px;
}

.bond-card--graph-canvas select {
    position: absolute;
    right: 15px;
    bottom: 50px;
}