.button-radio-group button {
    display: inline;
    border-radius: 0;
    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
}

.button-radio-group button:not(:first-child) {
    border-left: none;
}

.button-radio-group button:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.button-radio-group button:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.button-radio-group button:hover, .button-radio-group button.active {
    box-shadow: inset 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
}